/build
/install
/third_parties
/samples/demo_helloworld/outdir
/samples/demo_icons/outdir
.DS_Store

CMakeFiles

Makefile

cmake_install.cmake

*.cmake

CMakeCache.txt

.idea

cmake-build-debug

tests

version

include
